html
  head
    title Spattle - #{title}
    block scripts
    block style
        link(rel="stylesheet", href="style/style.css")
  body
    block content
    block foot
      #footer
        //- p some footer content