@font-face {
  font-family: glue1-spoticon;
  src: url("https://open.scdn.co/cdn/fonts/spoticon_regular_2.d319d911.woff2")
      format("woff2"),
    url("https://open.scdn.co/cdn/fonts/spoticon_regular_2.ff4c6091.woff")
      format("woff"),
    url("https://open.scdn.co/cdn/fonts/spoticon_regular_2.127670b5.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: spotify-circular;
  src: url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Black.c21e63c5.woff2")
      format("woff2"),
    url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Black.effa986f.woff")
      format("woff"),
    url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Black.ce8ef887.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: spotify-circular;
  src: url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.3466e0ec.woff2")
      format("woff2"),
    url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.ea8d19db.woff")
      format("woff"),
    url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.a357677a.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --bg1: #121212;
  --bg2: #181818;
  --bg3: #282828;

  --fg1: rgb(255, 255, 255);
  --fg2: rgba(255, 255, 255, 0.712);

  --accent: #1db954;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin-top: 0;
}

body,
html {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  font-family: spotify-circular, sans-serif;

  background: var(--bg1);
  color: var(--fg1);
}

button {
  padding: 10px 15px;

  border-radius: 500px;
  outline: none;
  border: none;

  font-weight: bold;

  background: var(--accent);
  color: var(--fg1);

  transition: background-color 0.1s ease-in-out;

  cursor: pointer;

  &:hover {
    background-color: #1ED760;
  }

  &:active {
    background-color: #1aa34a;
  }
}

a {
  text-decoration: none;
  padding: 1px 2px;
  color: var(--fg2);
  border-bottom: 1px solid currentColor;

  cursor: pointer;

  &:hover {
    color: var(--bg2);
    background: var(--fg2);
    // border-bottom: 1px solid var(--fg2);
  }
}